<html lang="ru">
    <meta charset="utf-8">
    <head>
        <title>Список статей Википедии: страница {{ page }} из {{ total }}</title>
    </head>
    <body>
        <h1>Статьи Википедии, на которые ведёт от {{ min_entries }} до {{ max_entries }} ссылок с других статей</h1>
        <h2>Страница {{ page }} из {{ total }}</h2>
        {% if prev_page_exists %}
            <a href="{{ prev_page }}">Предыдущая страница</a>
        {% endif %}
        {% if next_page_exists %}
            <a href="{{ next_page }}">Следующая страница</a>
        {% endif %}
        <ul>
            {% for title, (num, href, entries) in articles.items() %}
                <li>#{{ num }}. <a href="{{ href }}">{{ title }}</a>: {{ entries }} ссылок с других страниц ведут сюда</li>
            {% endfor %}
        </ul>
    </body>
</html>
